p{
    color: black;
    letter-spacing: 2px;
    font-size: 50px;
}
google_lens{
 letter-spacing: 2px;
 color: black
}

mobile_net{
    letter-spacing: 2px;
    color: black;
}

img{ 
    height: 300;
    width: 100;
}

.span{
    color: black;
    letter-spacing: 2px;
}

